@import url(https://fonts.google.com/specimen/Barlow);

* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;  
  font-family: 'Barlow', sans-serif;
  font-weight: 1400;
  font-size: 70px;
  font-style: normal;
  background-color: #7b27b5;
  color:#ffc530;
  padding: 10px 30px 10px 30px;
}

body {
    background-color: #299ea8;
}

button{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;  
    background-color: transparent;
    border: transparent;
}

.logo {
  width: 70px;
  height: 70px;
}

.buttons {
    margin-top: 10px;
    text-align: center;  
}

.instruction_imgs{
  display: block;
  margin-left: auto;
  margin-right: auto;   
  max-height: 600px;
}

.arrows{
    width: 40px;

}

  