<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style/home.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to SpotLight <img src="/static/images/SL_logo.png" /></h1>
    <ul>
        <div class="buttons">
            <a href="/projector"><img class="images" src="/static/images/projector_button.png" /></a>
            <a href="/instructions"><img class="images" src="/static/images/instructions_button.png" /></a>
        </div>
    </ul>
</body>
</html>
