<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style/instructions.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
    <script>
        function updateImage(action) {
            fetch("/backend-action", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ action: action }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    console.error(data.error);
                } else {
                    const instructionImage = document.getElementById("instruction-image");
                    instructionImage.src = data.result; // Update image path dynamically
                }
            })
            .catch(error => console.error("Error:", error));
        }
    </script>
</head>
<body>
    <h1>Instructions Page <img class="logo" src="/static/images/SL_logo.png" /></h1>
    <div class="buttons">
        <button onclick="location.href='/'"><img class="arrows" src="/static/images/SL_logo_border.png" /></button>
        <button onclick="updateImage('prev')"><img class="arrows" src="/static/images/prev.png" /></button>
        <button onclick="updateImage('next')"><img class="arrows" src="/static/images/next.png" /></button>
        <button onclick="updateImage('update')"><img class="arrows" src="/static/images/update.png" /></button>
        
    </div>
    <div style="margin-top: 10px;">
        <img class="instruction_imgs" id="instruction-image" src="/static/steps/step01.png" alt="Instruction Image">
    </div>
</body>
</html>
